/*====================================
    CSS VARIABLES
====================================*/

:root {
    --bg-primary: #fdfdfd;
    --bg-secondary:#c7a2b0;
    --bg-tertiary: #baa2c7;
    --bg-dark: #424142;

    --color-dark: #424142;

    --font-primary: 'Roboto', sans-serif;
}

/*====================================
    BASE STYLES
====================================*/

*, ::before, ::after {
    box-sizing: border-box;
}

body, header, main, aside, footer, nav, ul, li, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1.5rem;
    font-size: 3rem;
    color: #333;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

select {
    outline: none;
    width: 250px;
}

/*====================================
CONTAINERS
====================================*/
.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 50px auto 250px;
    background-color: #ccc;
}

.container,
.header-container,
.nav-links,
.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    margin-top: 50px;
    margin-bottom: 3rem;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

/*====================================
    HEADER 
====================================*/

header {
    background-color: var(--bg-primary);
}

.logo {
    width: 100px;
}

/*====================================
    NAV 
====================================*/


nav {
    background-color: var(--bg-dark);
}

.nav-links {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-links li {
    height: 100%;
    border-left: 1px solid #776776;
    font-family: var(--font-primary);
    font-weight: 300;
}

.nav-links li:last-of-type {
    border-right: 1px solid #776776;
}

.nav-links a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
    font-size: 1.1rem;
    letter-spacing: .075rem;
    color: #fcfcfc;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #333;
    font-size: 1.12rem; 
}

/*====================================
    MAIN
====================================*/

.breed-selection {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.breed-selection select {
    font-size: 1.5rem;
    color: var(--color-dark);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: .5rem;
}

.gallery li {
    width: 270px;
    height: 270px;
    border: 8px solid #fff;
    border-radius: 4px;
    background-color: #fcfcfc;
    background-size: cover;
    background-repeat: no-repeat;
}

/*====================================
   ASIDE
====================================*/

aside h2 {
    text-align: center;
}

.stories li {
    margin-bottom: 1rem;
    background-color: #fcfcfc;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
}

.stories p {
    line-height: 1.4;
    margin-bottom: .5rem;
}

.stories .date {
    font-size: .75rem;;
    font-weight: bold;
    color: rgba(50,50,50,0.8);
}

/*====================================
   FOOTER
====================================*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    color: #fcfcfc;
    padding: 3rem;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 300;
}

.copyright {
    font-size: .8rem;
    display: inline-block;
}

.copyright span {
    margin-right: 4px;
}

/*====================================
   MEDIA QUERIES
====================================*/

@media (max-width: 700px) {
    .wrapper {
        grid-template-rows: auto;
        background-color: #ccc;
    }
    .header-container {
        justify-content: center;
    }
    .logo {
        width: 80px;
    }
    .header-container h1 {
        font-size: 2rem;
        padding: 2rem 0;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .nav-links li {
        width: 100%;
        border-left: none;
        border-top: 1px solid #776776;
    }
    .nav-links li:last-of-type {
        border-right: 1px solid #776776;
    }
    .nav-links a {
        padding: 1.2rem 0;
        justify-content: center;
    }
    .container {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }
    main,
    aside {
    overflow-x: visible;
    } 
    main {
        margin-bottom: 40px;
    }
    .gallery {
        grid-template-columns: auto;
    }
    .gallery li {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 1286px) {
    .breed-selection {
        text-align: right;
    }
}